.switch__button-light {
  cursor: pointer;
  border: none;
  width: 28px;
  height: 28px;
  background: url(../../../images/switch-images/switch-light_light-theme.svg)
    50% 50% / 28px 28px no-repeat #efefef;
}
