.type__gradient_way {
  position: relative;
  grid-area: 3/1/4/2;
  width: 100px;
  height: 40px;
  background-image: url(../../../../images/images-type/background.svg);
  background-size: 100px 40px;
  background-repeat: no-repeat;
  align-self: end;
  margin-bottom: 16px;
}
.type__gradient_way::before {
  position: absolute;
  top: 12px;
  left: 16px;
  content: "";
  width: 50px;
  height: 16px;
  background: url(../../../../images/images-type/way-highway.svg);
  background-repeat: no-repeat;
}

@media screen and (max-width: 700px) {
  .type__gradient_way {
    background-size: 70px 28px;
    grid-area: 3/1/4/2;
    width: 70px;
    height: 28px;
  }
  .type__gradient_way::before {
    background-size: 35px 12px;
    top: 8px;
    left: 11px;
  }
}
