@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

@import url(../blocks/body/body.css);
@import url(../blocks/page/page.css);
@import url(../blocks/page/_dark/page_dark.css);

/* : Повторяющиеся блоки*/
@import url(../blocks/line/line.css);
@import url(../blocks/title/title.css);

/* ! модификаторы блоков*/
@import url(../blocks/title/_dark/title_dark.css);
@import url(../blocks/title/_bicycles/title_bicycles.css);

/* : переключатель темы*/
@import url(../blocks/switch/switch.css);
@import url(../blocks/switch/__flag-box/switch__flag-box.css);
@import url(../blocks/switch/__flag/switch__flag.css);
@import url(../blocks/switch/__button-light/switch__button-light.css);
@import url(../blocks/switch/__button-dark/switch__button-dark.css);

@import url(../blocks/switch/_footer/switch_footer.css);
@import url(../blocks/switch/__button-light/_dark/switch__button-light_dark.css);
@import url(../blocks/switch/__button-dark/_dark/switch__button-dark_dark.css);
@import url(../blocks/switch/__flag-box/_dark/switch__flag-box_dark.css);
@import url(../blocks/switch/__flag-box/_move/switch__flag-box_move.css);

/* : Ссылки*/

/* : Блок навигации*/
@import url(../blocks/nav-block/nav-block.css);
@import url(../blocks/nav-block/__wrapper/nav-block__wrapper.css);
@import url(../blocks/nav-block/__link/nav-block__link.css);
/* ! модификаторы блока навигации*/
@import url(../blocks/nav-block/_header/nav-block_header.css);
@import url(../blocks/nav-block/_training/nav-block_training.css);
@import url(../blocks/nav-block/_bicycles/nav-block_bicycles.css);
/* ! модификаторы ссылок*/
@import url(../blocks/nav-block/__link/_header/nav-block__link_header.css);
@import url(../blocks/nav-block/__link/_bicycles/nav-block__link_bicycles.css);
@import url(../blocks/nav-block/__link/_bicycles_dark/nav-block__link_bicycles_dark.css);
@import url(../blocks/nav-block/__link/_bicycles_active/nav-block__link_bicycles_active.css);
@import url(../blocks/nav-block/__link/_bicycles_active_dark/nav-block__link_bicycles_active_dark.css);

@import url(../blocks/menu/menu.css);
@import url(../blocks/menu/__subblock/menu__subblock.css);
@import url(../blocks/menu/__button/menu__button.css);
@import url(../blocks/menu/__navigation/menu__navigation.css);
/* @import url(../blocks/menu/__links-block/menu__links-block.css); */
@import url(../blocks/nav-block/__link/_header_dark/nav-block__link_header_dark.css);
@import url(../blocks/nav-block/__link/_training/nav-block__link_training.css);
@import url(../blocks/nav-block/__link/_training_dark/nav-block__link_training_dark.css);

/* : Подвал */

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__subblock/footer__subblock.css);
@import url(../blocks/footer/__subscribe-block/footer__subscribe-block.css);
@import url(../blocks/footer/__title/footer__title.css);
@import url(../blocks/footer/__email/footer__email.css);
@import url(../blocks/footer/__copy-right/footer__copy-right.css);
@import url(../blocks/footer/__logo-image/footer__logo-image.css);
/* ! модификаторы тёмной темы */
@import url(../blocks/footer/_dark/footer_dark.css);
@import url(../blocks/footer/__email/_dark/footer__email_dark.css);
@import url(../blocks/footer/__copy-right/_dark/footer__copy-right_dark.css);
@import url(../blocks/footer/__title/_dark/footer__title_dark.css);
@import url(../blocks/footer/__logo-image/_dark/footer__logo-image_dark.css);

/* : Блок Меркс*/
@import url(../blocks/merckx/merckx.css);
@import url(../blocks/merckx/__image/merckx__image.css);
@import url(../blocks/merckx/__description/merckx__description.css);
@import url(../blocks/merckx/__quote/merckx__quote.css);
@import url(../blocks/merckx/__name/merckx__name.css);
@import url(../blocks/merckx/__sport/merckx__sport.css);
/* ! модификаторы тёмной темы */
@import url(../blocks/merckx/__quote/_dark/merckx__quote_dark.css);
@import url(../blocks/merckx/__name/_dark/merckx__name_dark.css);
@import url(../blocks/merckx/__sport/_dark/merckx__sport_dark.css);

/* : Блок training*/
@import url(../blocks/training/training.css);
@import url(../blocks/training/__title/training__title.css);
@import url(../blocks/training/__description/training__description.css);
@import url(../blocks/training/__image/training__image.css);
/* ! модификаторы тёмной темы */
@import url(../blocks/training/__title/_dark/training__title_dark.css);
@import url(../blocks/training/__description/_dark/training__description_dark.css);

/* : Первый блок */

@import url(../blocks/first-block/first-block.css);
@import url(../blocks/first-block/__stiky-image/first-block__stiky-image.css);
@import url(../blocks/first-block/__title/first-block__title.css);
@import url(../blocks/first-block/__description/first-block__description.css);
@import url(../blocks/first-block/__button/first-block__button.css);
@import url(../blocks/first-block/__model-bike/first-block__model-bike.css);
@import url(../blocks/first-block/__image/first-block__image.css);

@import url(../blocks/first-block/__title/_dark/first-block__title_dark.css);
@import url(../blocks/first-block/__description/_dark/first-block__description_dark.css);

/* : Блок type */
@import url(../blocks/type/type.css);
@import url(../blocks/type/__line/type__line.css);
@import url(../blocks/type/__card/type__card.css);
@import url(../blocks/type/__title/type__title.css);
@import url(../blocks/type/__description/type__description.css);
@import url(../blocks/type/__image-1/type__image-1.css);
@import url(../blocks/type/__image-2/type__image-2.css);
@import url(../blocks/type/__gradient/_way/type__gradient_way.css);
@import url(../blocks/type/__gradient/_gravel/type__gradient_gravel.css);
@import url(../blocks/type/__gradient/_tt/type__gradient_tt.css);
@import url(../blocks/type/__block-buttons/type__block-buttons.css);
@import url(../blocks/type/__button/type__button.css);
@import url(../blocks/type/__button/_left/type__button_left.css);
@import url(../blocks/type/__button/_right/type__button_right.css);
@import url(../blocks/type/__foto/_foto-1/type__foto_foto-1.css);
@import url(../blocks/type/__foto/_foto-2/type__foto_foto-2.css);
@import url(../blocks/type/__foto/_foto-3/type__foto_foto-3.css);
/* ! модификаторы тёмной темы */
@import url(../blocks/type/__title/_dark/type__title_dark.css);
@import url(../blocks/type/__description/_dark/type__description_dark.css);
@import url(../blocks/type/__block-buttons/_dark/type__block-buttons_dark.css);
@import url(../blocks/type/__button/_left/_dark/type__button_left_dark.css);
@import url(../blocks/type/__button/_right/_dark/type__button_right_dark.css);

/* : Слайдер */
@import url(../blocks/slider/slider.css);
@import url(../blocks/slider/__conteiner/slider__conteiner.css);
@import url(../blocks/slider/__item/slider__item.css);
/* @media screen and (max-width: 1100px) {

}
@media screen and (max-width: 760px) {

} */

/* : Блок bicycles */
@import url(../blocks/bicycles/bicycles.css);

.position {
}
@media screen and (max-width: 760px) {
  .position {
    order: -1;
    transition: 0.3s;
  }
}

.slider_ {
  margin: 120px 120px 40px;
  grid-area: 2/1/3/3;
}
@media screen and (max-width: 760px) {
  .slider_ {
    grid-area: 4/1/5/3;
    margin: 20px 18px 0px;
  }
}
.slider__container_1 {
  /* border: 3px solid greenyellow; */
  max-width: 100%;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
}
.bicycles__block-cards {
  /* flex-shrink: 0; */
  grid-area: 1/1/2/2;
  padding: 0;
  margin: 0;
  width: 100%;
  /* border: 1px solid rgb(0, 170, 255); */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  column-gap: 50px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.4s;
}
@media screen and (max-width: 760px) {
  .bicycles__block-cards {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
.bicycles__block-cards_active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s;
}

.bicycles__card {
  /* border: 1px solid red; */
}
@media screen and (max-width: 760px) {
}
.bicycles__box-image {
  /* border: 2px solid green; */
  background-color: #f4f4f4;
  /* box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.1); */
  border-radius: 20px;
  position: relative;
  padding-top: 100%;
}
@media screen and (max-width: 760px) {
}
.bicycles__image {
  position: absolute;
  top: 20px;
  left: 20px;
  width: calc(100% - 40px);
  height: auto;
  border-radius: 20px;
}
@media screen and (max-width: 760px) {
}

.bicycles__card_place-1 {
  grid-area: 1/1/2/2;
}
@media screen and (max-width: 760px) {
  .bicycles__card_place-1 {
    grid-area: 1/1/2/2;
  }
}
.bicycles__card_place-2 {
  grid-area: 1/2/2/3;
}
@media screen and (max-width: 760px) {
  .bicycles__card_place-2 {
    grid-area: 1/1/2/2;
    visibility: hidden;
  }
}
.bicycles__card_place-3 {
  grid-area: 1/3/2/4;
}
@media screen and (max-width: 760px) {
  .bicycles__card_place-3 {
    grid-area: 1/1/2/2;
    visibility: hidden;
  }
}
.bicycles__model {
  /* border: 1px solid red; */
  padding: 0;
  margin: 22px 0 0;
  line-height: 22px;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  color: var(--color);
  transition: color 0.3s;
}
@media screen and (max-width: 760px) {
  .bicycles__model {
    text-align: center;
    margin: 5px 0 16px;
    line-height: 18px;
    font-size: 14px;

    /* display: none; */
  }
}
.bicycles__model_dark {
  color: #fff;
  transition: color 0.3s;
}
.ww {
  display: none;
}

@media screen and (max-width: 760px) {
  .ww {
    /* border: 1px solid red; */
    grid-area: 5/1/6/2;
    width: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px auto 40px;
  }
}
.qq {
  width: 4px;
  height: 4px;
  fill: #cacaca;
}
.qq_active {
  fill: #151515;
}
/*



*/

/*






*/

.par {
  line-height: 18px;
  border: 2px solid orchid;
}

/* .light {
  background-color: #efefef;
  color: #151515;
  transition: background-color 0.3s, color 0.3s;
}

.dark {
  background-color: #333;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
} */

.menu__subblock_open {
  margin-bottom: 40px;
  height: 540px;
  row-gap: 360px;
  opacity: 1;
  transition: opacity 1s, row-gap 1s, margin-bottom 1s, height 1s;
}

/*
.menu_open {
  height: 600px;
  transition: padding-bottom 1s, height 1s;
} */

/* .menu__navigation_open {
  margin-bottom: 318px;
  transition: margin-bottom 1s;
} */
.center {
  margin: 30px auto;
}
