@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

@import url(../blocks/body/body.css);
@import url(../blocks/page/page.css);
@import url(../blocks/page/_dark/page_dark.css);

/* : переключатель темы*/
@import url(../blocks/switch/switch.css);
@import url(../blocks/switch/__flag-box/switch__flag-box.css);
@import url(../blocks/switch/__flag/switch__flag.css);
@import url(../blocks/switch/__button-light/switch__button-light.css);
@import url(../blocks/switch/__button-dark/switch__button-dark.css);

@import url(../blocks/switch/_footer/switch_footer.css);
@import url(../blocks/switch/__button-light/_dark/switch__button-light_dark.css);
@import url(../blocks/switch/__button-dark/_dark/switch__button-dark_dark.css);
@import url(../blocks/switch/__flag-box/_dark/switch__flag-box_dark.css);
@import url(../blocks/switch/__flag-box/_move/switch__flag-box_move.css);

/* : Ссылки*/

/* : Блок навигации*/
@import url(../blocks/nav-block/nav-block.css);
@import url(../blocks/nav-block/__wrapper/nav-block__wrapper.css);
@import url(../blocks/nav-block/__link/nav-block__link.css);

@import url(../blocks/nav-block/__link/_header/nav-block__link_header.css);
@import url(../blocks/nav-block/_header/nav-block_header.css);
@import url(../blocks/nav-block/_training/nav-block_training.css);

@import url(../blocks/menu/menu.css);
@import url(../blocks/menu/__subblock/menu__subblock.css);
@import url(../blocks/menu/__button/menu__button.css);
@import url(../blocks/menu/__navigation/menu__navigation.css);
/* @import url(../blocks/menu/__links-block/menu__links-block.css); */
@import url(../blocks/nav-block/__link/_header_dark/nav-block__link_header_dark.css);
@import url(../blocks/nav-block/__link/_training/nav-block__link_training.css);
@import url(../blocks/nav-block/__link/_training_dark/nav-block__link_training_dark.css);

/* : Подвал */

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__subblock/footer__subblock.css);
@import url(../blocks/footer/__subscribe-block/footer__subscribe-block.css);
@import url(../blocks/footer/__title/footer__title.css);
@import url(../blocks/footer/__email/footer__email.css);
@import url(../blocks/footer/__copy-right/footer__copy-right.css);
@import url(../blocks/footer/__logo-image/footer__logo-image.css);

@import url(../blocks/footer/_dark/footer_dark.css);
@import url(../blocks/footer/__email/_dark/footer__email_dark.css);
@import url(../blocks/footer/__copy-right/_dark/footer__copy-right_dark.css);
@import url(../blocks/footer/__title/_dark/footer__title_dark.css);
@import url(../blocks/footer/__logo-image/_dark/footer__logo-image_dark.css);
/* @media screen and (max-width: 1100px) {

}
@media screen and (max-width: 760px) {

} */
/* : Блок Меркс*/
@import url(../blocks/merckx/merckx.css);
@import url(../blocks/merckx/__image/merckx__image.css);
@import url(../blocks/merckx/__description/merckx__description.css);
@import url(../blocks/merckx/__quote/merckx__quote.css);
@import url(../blocks/merckx/__name/merckx__name.css);
@import url(../blocks/merckx/__sport/merckx__sport.css);

@import url(../blocks/merckx/__quote/_dark/merckx__quote_dark.css);
@import url(../blocks/merckx/__name/_dark/merckx__name_dark.css);
@import url(../blocks/merckx/__sport/_dark/merckx__sport_dark.css);

/* : Блок training*/
@import url(../blocks/training/training.css);
@import url(../blocks/training/__title/training__title.css);
@import url(../blocks/training/__description/training__description.css);
@import url(../blocks/training/__image/training__image.css);

@import url(../blocks/training/__title/_dark/training__title_dark.css);
@import url(../blocks/training/__description/_dark/training__description_dark.css);
/*



*/
.type {
  border: 3px solid greenyellow;
  max-width: 100%;
  position: relative;
}
.type__line {
  display: none;
}

@media screen and (max-width: 700px) {
  .type__line {
    display: block;
    grid-area: 1/1/2/2;
    border-top: 1px solid #e3e3e3;
    margin: 40px 18px 0;
  }
}

.wrapper {
  margin-left: 120px;
}

@media screen and (max-width: 700px) {
  .wrapper {
    margin: 0 18px;
  }
}
.slider-box {
  /* border: 3px solid slateblue; */
  max-width: 100%;
  display: flex;
  flex-wrap: nowrap;
  scroll-behavior: smooth;
  overflow: hidden;
  -ms-overflow-style: none;
  /* IE and Edge */
  /* scrollbar-width: none; */
  /* Firefox */
  overflow-x: hidden;
}
.item {
  flex-shrink: 0;
}
.type__slider {
  /* border: 3px solid cyan; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3;
  column-gap: 20px;
  margin: 0 0 0 0px;
  width: 100%;
}
@media screen and (max-width: 700px) {
  .type__slider {
    grid-template-columns: 1fr;
    grid-template-rows: 4;
  }
}

.type__title {
  grid-area: 1/1/2/2;
  line-height: 60px;
  font-size: 55px;
  font-weight: 700;
  font-style: normal;
  color: #151515;
  letter-spacing: -0.5px;
  margin: 60px 0 50px;
  transition: color 0.3s;
}
.type__title_dark {
  color: #fff;
  transition: all 0.3s;
}

@media screen and (max-width: 700px) {
  .type__title {
    grid-area: 1/1/2/2;
    line-height: 40px;
    font-size: 32px;
    margin-top: 40px;
  }
}
.type__description {
  grid-area: 2/1/3/2;
  max-width: 460px;
  line-height: 28px;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: #222;
  opacity: 0.7;
  margin-bottom: 80px;
  transition: color 0.3s;
}
.type__description_dark {
  color: #e5e5e5;
  opacity: 0.7;
  transition: color 0.3s;
}
@media screen and (max-width: 700px) {
  .type__description {
    grid-area: 4/1/5/2;

    line-height: 18px;
    font-size: 12px;
    margin-bottom: 40px;
    transition: color 0.3s;
  }
}
.type__image-1 {
  grid-area: 3/1/4/2;
  padding: 0;
  margin: 0 0 0 0px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 650px;
  padding-bottom: 61.5%;
}
@media screen and (max-width: 700px) {
  .type__image-1 {
    grid-area: 3/1/4/2;
    min-width: 284px;
    padding-bottom: 61.5%;
  }
}

.type__image-2 {
  grid-area: 3/2/4/3;
  padding: 0;
  margin: 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 650px;
  padding-bottom: 61.5%;
}
@media screen and (max-width: 700px) {
  .type__image-2 {
    display: none;
  }
}
.foto-1 {
  background-image: url(../images/images-type/type_1.png);
}
.foto-2 {
  background-image: url(../images/images-type/type_2.png);
}
.foto-3 {
  background-image: url(../images/images-type/type_3.png);
}
.type__block-buttons {
  margin: 50px 0 60px 120px;
  max-width: 145px;
}

@media screen and (max-width: 700px) {
  .type__block-buttons {
    position: absolute;
    margin: 0;
    top: 67px;
    right: 18px;
    height: 50px;
    padding-top: 30px;
    border: 1px solid red;
    background-color: #f4f4f4;
  }
}
.type__block-buttons_dark {
  background-color: #333;
}
.type__button {
  margin-right: 20px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background-color: #ebebeb;
  cursor: pointer;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 7px 16px;
  transition: all 0.3s;
}
.type__button:hover {
  opacity: 0.6;
}
@media screen and (max-width: 700px) {
  .type__button {
    width: 28px;
    height: 28px;
    border-radius: 14px;
    background-size: 5px 10px;
  }
}
.type__button_left {
  background-image: url(../images/images-button/slider_left.svg);
  transition: all 0.3s;
}
.type__button_left_dark {
  background-image: url(../images/images-button/slider_left_dark.svg);
  background-color: #434343;
  transition: all 0.3s;
}
.type__button_right {
  background-image: url(../images/images-button/slider_right.svg);
  transition: all 0.3s;
}
.type__button_right_dark {
  background-image: url(../images/images-button/slider_right_dark.svg);
  background-color: #434343;
  transition: all 0.3s;
}
/*






*/

.par {
  line-height: 18px;
  border: 2px solid orchid;
}

/* .light {
  background-color: #efefef;
  color: #151515;
  transition: background-color 0.3s, color 0.3s;
}

.dark {
  background-color: #333;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
} */

.menu__subblock_open {
  margin-bottom: 40px;
  height: 540px;
  row-gap: 360px;
  opacity: 1;
  transition: opacity 1s, row-gap 1s, margin-bottom 1s, height 1s;
}

/*
.menu_open {
  height: 600px;
  transition: padding-bottom 1s, height 1s;
} */

/* .switch_open {
  margin-bottom: 40px;
  transition: margin-bottom 0.5s;
} */

/* .menu__navigation_open {
  margin-bottom: 318px;
  transition: margin-bottom 1s;
} */
.center {
  margin: 30px auto;
}
