@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

@import url(../blocks/body/body.css);
@import url(../blocks/page/page.css);
@import url(../blocks/page/_dark/page_dark.css);

/* : переключатель темы*/
@import url(../blocks/switch/switch.css);
@import url(../blocks/switch/__flag-box/switch__flag-box.css);
@import url(../blocks/switch/__flag/switch__flag.css);
@import url(../blocks/switch/__button-light/switch__button-light.css);
@import url(../blocks/switch/__button-dark/switch__button-dark.css);

@import url(../blocks/switch/_footer/switch_footer.css);
@import url(../blocks/switch/__button-light/_dark/switch__button-light_dark.css);
@import url(../blocks/switch/__button-dark/_dark/switch__button-dark_dark.css);
@import url(../blocks/switch/__flag-box/_dark/switch__flag-box_dark.css);
@import url(../blocks/switch/__flag-box/_move/switch__flag-box_move.css);

/* : Ссылки*/

/* : Блок навигации*/
@import url(../blocks/nav-block/nav-block.css);
@import url(../blocks/nav-block/__wrapper/nav-block__wrapper.css);
@import url(../blocks/nav-block/__link/nav-block__link.css);

@import url(../blocks/nav-block/__link/_header/nav-block__link_header.css);
@import url(../blocks/nav-block/_header/nav-block_header.css);
@import url(../blocks/nav-block/_training/nav-block_training.css);

@import url(../blocks/menu/menu.css);
@import url(../blocks/menu/__subblock/menu__subblock.css);
@import url(../blocks/menu/__button/menu__button.css);
@import url(../blocks/menu/__navigation/menu__navigation.css);
@import url(../blocks/menu/__links-block/menu__links-block.css);
@import url(../blocks/nav-block/__link/_header_dark/nav-block__link_header_dark.css);
@import url(../blocks/nav-block/__link/_training/nav-block__link_training.css);
@import url(../blocks/nav-block/__link/_training_dark/nav-block__link_training_dark.css);

/* : Подвал */

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__subblock/footer__subblock.css);
@import url(../blocks/footer/__subscribe-block/footer__subscribe-block.css);
@import url(../blocks/footer/__title/footer__title.css);
@import url(../blocks/footer/__email/footer__email.css);
@import url(../blocks/footer/__copy-right/footer__copy-right.css);
@import url(../blocks/footer/__logo-image/footer__logo-image.css);

@import url(../blocks/footer/_dark/footer_dark.css);
@import url(../blocks/footer/__email/_dark/footer__email_dark.css);
@import url(../blocks/footer/__copy-right/_dark/footer__copy-right_dark.css);
@import url(../blocks/footer/__title/_dark/footer__title_dark.css);
@import url(../blocks/footer/__logo-image/_dark/footer__logo-image_dark.css);
/* @media screen and (max-width: 1100px) {

}
@media screen and (max-width: 760px) {

} */
/* : Блок Меркс*/
@import url(../blocks/merckx/merckx.css);
@import url(../blocks/merckx/__image/merckx__image.css);
@import url(../blocks/merckx/__description/merckx__description.css);
@import url(../blocks/merckx/__quote/merckx__quote.css);
@import url(../blocks/merckx/__name/merckx__name.css);
@import url(../blocks/merckx/__sport/merckx__sport.css);

@import url(../blocks/merckx/__quote/_dark/merckx__quote_dark.css);
@import url(../blocks/merckx/__name/_dark/merckx__name_dark.css);
@import url(../blocks/merckx/__sport/_dark/merckx__sport_dark.css);

/* : Блок training*/
@import url(../blocks/training/training.css);
@import url(../blocks/training/__title/training__title.css);
@import url(../blocks/training/__description/training__description.css);
@import url(../blocks/training/__image/training__image.css);

@import url(../blocks/training/__title/_dark/training__title_dark.css);
@import url(../blocks/training/__description/_dark/training__description_dark.css);
/*



*/

.first-block {
  border: 3px solid chartreuse;
  margin: 0;
  max-width: 100%;
  max-height: 856px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5;
  column-gap: 250px;
  box-sizing: border-box;
}
@media screen and (max-width: 1100px) {
  .first-block {
    grid-template-columns: 1fr;
    grid-row: 3;
  }
}

.first-block__stiky-image {
  grid-column: 1/3;
  grid-row: 1;
  position: sticky;
  top: 413px;
  /* left: 630px; */
  left: calc(100vw / 2 - 100px);
  z-index: 100;
  background-image: url(../images/image-stiсky/aaaa.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 80%;
  border-radius: 20px;
  background-color: #f4f4f4;
  box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
  width: 440px;
  height: 300px;
  margin-bottom: 80px;
}

.first-block__title {
  border: 1px solid red;
  grid-area: 1/1/2/2;
  max-width: 460px;
  padding: 0;
  margin: 80px 0 50px 120px;
  line-height: 60px;
  font-size: 55px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.5px;
  color: #151515;
  transition: color 0.3s;
}
@media screen and (max-width: 1100px) {
  .first-block__title {
    grid-area: 1/1/2/2;
    min-width: 284px;
    margin: 40px 18px;
    line-height: 40px;
    font-size: 32px;
  }
}
.first-block__title_dark {
  color: #fff;
  transition: color 0.3s;
}
.first-block__description {
  border: 1px solid red;
  grid-area: 2/1/3/2;
  max-width: 460px;
  padding: 0;
  margin: 0 0 0 120px;
  line-height: 28px;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: #222;
  opacity: 0.7;
  transition: color 0.3s;
}
@media screen and (max-width: 1100px) {
  .first-block__description {
    grid-area: 3/1/4/2;
    min-width: 284px;
    margin: 0 18px;
    line-height: 18px;
    font-size: 12px;
    color: #222;
    opacity: 0.7;
  }
}
.first-block__description_dark {
  color: #e6e6e6;
  transition: color 0.3s;
}

.first-block__button {
  grid-area: 3/1/4/2;
  width: 180px;
  height: 50px;
  border: none;
  background-color: #24b47e;
  border-radius: 4px;
  margin: 50px 0 170px 120px;
  line-height: 18px;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  color: #fff;
  letter-spacing: 1px;
}
.first-block__button:hover {
  cursor: pointer;
  opacity: 0.5;
}
@media screen and (max-width: 1100px) {
  .first-block__button {
    grid-area: 4/1/5/2;
    margin: 40px auto;
    width: 284px;
    height: 46px;
    /* width: 180px;
    height: 50px;
    border: none;
    background-color: #24b47e;
    border-radius: 4px;
    margin: 50px 0 170px 120px;
    line-height: 18px;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    color: #fff;
    letter-spacing: 1px; */
  }
}

.first-block__model-bike {
  grid-area: 4/1/5/2;
  padding: 0;
  margin: 0 0 150px 120px;
}
@media screen and (max-width: 1100px) {
  .first-block__model-bike {
    display: none;
  }
}
.first-block__image {
  border: 1px solid red;
  grid-area: 1/2/5/3;
  background-image: url(../images/first-block-image.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  max-width: 610px;
  max-height: 836px;
  margin-top: 20px;
}
@media screen and (max-width: 1100px) {
  .first-block__image {
    border: 1px solid red;
    grid-area: 2/1/3/2;
    margin: 40px 18px 40px 48px;
    max-width: 100%;
    padding-top: 130%;
  }
}
/*






*/

.par {
  line-height: 18px;
  border: 2px solid orchid;
}

/* .light {
  background-color: #efefef;
  color: #151515;
  transition: background-color 0.3s, color 0.3s;
}

.dark {
  background-color: #333;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
} */

.menu__subblock_open {
  margin-bottom: 40px;
  height: 540px;
  row-gap: 360px;
  opacity: 1;
  transition: opacity 1s, row-gap 1s, margin-bottom 1s, height 1s;
}

/*
.menu_open {
  height: 600px;
  transition: padding-bottom 1s, height 1s;
} */

/* .switch_open {
  margin-bottom: 40px;
  transition: margin-bottom 0.5s;
} */

/* .menu__navigation_open {
  margin-bottom: 318px;
  transition: margin-bottom 1s;
} */
.center {
  margin: 30px auto;
}
