.nav-block_header {
  order: 2;
  margin: 28px 120px 28px auto;
  padding: 0;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 34px;
}
@media screen and (max-width: 800px) {
  .nav-block_header {
    flex-direction: column;
    align-content: center;
    row-gap: 32px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 0px;
    overflow: hidden;
    transition: margin-bottom 1s;
  }
}
